.DS_Store
node_modules
/.svelte
/build
/functions
.env.local
.vercel_build_output
.idea/dataSources.xml

.vercel
test-results

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log
